form {
    @extend %container-format;

    %input-format {
        background: none;

        font-size: 19px;
        font-weight: 700;
        font-family: 'PT Sans', sans-serif;
    }

    .input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 20px;
        padding: 10px 20px;

        @media(max-width: 500px) {
            width: 310px;
        }

        width: 400px;

        border: 1px solid #fff;
        border-radius: 10px;

        &.email::before {
            content: url('../svg/person.svg');
            width: 20px;
        }

        &.password::before {
            content: url('../svg/key.svg');
            width: 20px;
        }

        &>input {
            @extend %input-format;

            @media(max-width: 500px) {
                width: 260px;
            }

            width: 350px;

            color: #fff;

            border: none;
            outline: none;

            &::placeholder {
                color: #ccc;
            }
        }

    }

    button {
        @extend %input-format;

        cursor: pointer;

        @media(max-width: 500px) {
            width: 350px;
        }

        width: 440px;
        height: 50px;

        margin-top: 30px;

        border: 2px solid #00FF29;
        border-radius: 10px;

        color: #00FF29;

        &:hover {
            background-color: #00FF29;
            color: #1F41A9;
        }
    }

    .logout {
        border-color: #ffff7a;
        color: #ffff7a;

        &:hover {
            background-color: #ffff7a;
        }
    }
}